#app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 242, 242);
}

.position-div{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
 }

/* 路由切换动画 */
.t_right-enter-active,
.t_right-leave-active,
.t_left-enter-active,
.t_left-leave-active {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  transition: all 0.5s ease;
  /* transition-delay: 1s; */
  position: absolute;
  left: 0;
}

.t_right-enter {
  opacity: 0;
  transform: translateX(-20%);
}

.t_right-leave-active {
  opacity: 0;
  transform: translateX(20%);
}

.t_left-enter {
  opacity: 0;
  transform: translateX(20%);
}

.t_left-leave-active {
  opacity: 0;
  transform: translateX(-20%);
}

.editor_title .ivu-input {
  background-color: rgba(255, 255, 255, 0.2)!important;
  border: none;
  color: #000;
  height: 36px;
  text-align: center;
  font-size: 17px;
}

.editor_title .ivu-input:focus {
  box-shadow: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #000!important;
  font-size: 14px!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #000!important;
 font-size: 14px!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #000!important;
 font-size: 14px!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #000!important;
 font-size: 14px!important;
}